.DS_Store

# Ignore any hardware simulator output files
*.dat
*.out

# Ignore binary hack files
*.hack

# Ignore asm files
*.asm

# Ignore pyc files
*.pyc

# Specific vm files within project 9
projects/09/**/*.vm

# XML files within project 10
projects/10/**/*.xml

# VM files within project 11
projects/11/**/*.vm
