.DS_Store

# Ignore any hardware simulator output files
*.dat
*.out

# Ignore binary hack files
*.hack

# Ignore asm files
*.asm

# Ignore pyc files
*.pyc

# Specific vm files within project 9
projects/09/**/*.vm
